.varighet__info {
    display: flex;
    align-items: center;
    &__ikon {
        display: inline-block;
        margin-right: 0.5rem;
        line-height: 0.75rem;
    }
    &__tid {
        display: inline-block;
        position: relative;
    }
    @media (min-width: 737px) {
        .varighet__info__ikon {
            display: none;
        }
    }
}

.m-caps {
    text-transform: capitalize;
}

.omsorgstilbudDialog {
    width: 100%;
    max-width: 60rem;
    .dialogFormWrapper {
        width: 100%;
    }
}

.omsorgstilbud__ukegrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.timeInput__suffix {
    margin-top: 0.1rem;
    font-size: 0.6rem;
}
.timeInput--withHours {
    .timeInput__suffix--hours {
        margin-top: 0;
        font-size: 0.8rem;
        opacity: 1;
        right: 0.4rem;
    }
}
.timeInput--withMinutes,
.timeInput--withMinute {
    .timeInput__suffix--min {
        margin-top: 0;
        font-size: 0.8rem;
        opacity: 1;
        right: 0.3rem;
    }
}

.omsorgstilbudListe {
    &__dag {
        display: inline-block;
        // margin-right: .25rem;
    }
    .omsorgstilbudListe__dato {
        text-transform: capitalize;
    }
}

.omsorgstilbudInfoDialogWrapper {
    .panel {
        border: none;
        padding: 0;
    }
}

.ingenTidRegistrert {
    padding-right: 0.5rem;
}

.omsorgstilbudForm {
    legend {
        .typo-element {
            font-weight: normal;
        }
    }
    &__uke {
        &__ukedager--grid {
            display: grid;
            margin-top: 1rem;
            grid-template-columns: repeat(5, 1fr);
        }
        &__ukedager--liste {
            border-top: 1px solid rgba(0, 0, 0, 0.15);
            padding-top: 0.5rem;
            margin-top: 1rem;
        }
        &--wide {
            .skjemagruppe__legend {
                min-width: 10rem;
                text-align: left;
                display: block;
            }
        }
    }
    &__dag {
        @media (max-width: 1050px) {
            padding: 0.5rem 0;
            margin-bottom: 0.5rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        &__label {
            text-transform: capitalize;
        }
    }

    /** Overrides */
    .timeInput__contentWrapper {
        padding-bottom: 1.5rem;
        justify-content: flex-end;
        max-width: 14rem;
    }

    .skjemaelement__feilmelding {
        margin-bottom: 1rem;
    }
}
